body{
  margin:0;
  padding:0;
  background:#fff;
  font-family: 'Raleway',sans-serif;
  color: #fff;
}

.banner{
  height: 100vh;
  width: 100%;
  background:url('/assets/images/overlay.png'),url('/assets/images/bg1.jpg');
  background-position: top;
  background-size:cover;
  /*background-attachment: fixed;*/s
  background-repeat: no-repeat;
}
.banner .navbar{
  margin-top:1%;
}
.banner .navbar-brand{
  color: #fff;
  font-size:1.8em;
  font-weight: 700;
  margin-left: 5%;
}
.banner .nav{
  margin-right:5%; 
}
.banner .nav li a{
  color:#aaa;
  font-size: 1.2em;
}

.form-container{
	width: 500px;
	position: absolute;
	top: 50px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.form-container h2{
	color: black;
}

.form-container label{
	color: black;
}

